<h1>CJUG Demo</h1>

  <p-dataTable [value]="talks" *ngIf="talks" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [reorderableColumns]="true"
               [selectionMode]="'single'" [selection]="selectedTalk" (onRowSelect)="onSessionSelection(evt)">
    <p-column field="title" header="Title"  sortable="true"></p-column>
    <p-column field="speaker" header="Speaker" sortable="true" filter='true' filterMatchMode='startsWith'></p-column>
    <p-column field="location" header="Location"></p-column>
    <p-column field="votes" header="Votes"></p-column>
  </p-dataTable>

<p-growl [value]="messages"></p-growl>

<!--

<p-gmap [options]="mapOptions" [overlays]="mapOverlays" [style]="{'width':'100%','height':'310px'}"></p-gmap>

<p-chart type="doughnut" [data]="chartData"></p-chart>
-->

